@model WebApplication1.Models.product

@{
    ViewBag.Title = "Details_Pro";
}

<style>
    div.ex3 {
        background-color: white;
        width: auto;
        height: 530px;
        overflow: auto;
    }
</style>

@Html.Partial("_Notifications")

<script type="text/javascript">
    function CRateOut(rating) {
        for (var i = 1; i <= rating; i++) {
            $("span" + i).attr('class', 'fa-regular fa-star');
        }
    }
    function CReateOver(rating) {
        for (var i = 1; i <= rating; i++) {
            $("span" + i).attr('class', 'fa-solid fa-star');
        }
    }
    function CReateClick(rating) {
        $("#lblRating").val(rating);
        for (var i = 1; i <= rating; i++) {
            $("#span" + i).attr('class', 'fa-solid fa-star');
        }
        for (var i = rating + 1; i <= 5; i++) {
            $("#span" + i).attr('class', 'fa-regular fa-star');
        }
    }
    function CReateSelected(rating) {
        var rating = $("#lblRating").val();
        for (var i = 1; i <= rating; i++) {
            $("#span" + i).attr('class', 'fa-solid fa-star');
        }
    }
    function VerifyRating() {
        var rating = $("$lblRating").val();
        if (rating == "0") {
            alter("Please Select Rating.");
            return false;
        }
    }

</script>

<main>
    <div>
        <div class="text-xs">
            <div class="px-4">
                <a href="@Url.Action("Index", "Home")">Home</a> \
                <a href="@Url.Action("SearchPage", "Home")">List</a> \
                <a href="#">@Html.DisplayFor(model => model.names)</a> \
            </div>
            <div class="w-75 grid grid-cols-4 grid-rows-2 mx-auto">
                <div class="col-span-2 m-4">
                    <img src="~/wwwroot/Images/Products/@Html.DisplayFor(model => model.images)"
                         class="w-full object-cover object-center mb-3">

                    <div class="mt-4 mb-3 font-medium text-lg">Technical Specification</div>
                    <div class="grid grid-cols-2">
                        <div class="font-medium grid col-span-1 space-y-2">
                            <div>Display</div>
                            <div>Operating System</div>
                            <div>Processor</div>
                            <div>Battery</div>
                            <div>External Memory</div>
                        </div>
                        <div class="grid col-span-1 space-y-2">
                            <div>
                                @Html.DisplayFor(model => model.display)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.operating_system)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.processor)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.battery)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.ram)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-2 m-4 text-xs">
                    <p class="text-xl font-bold">@Html.DisplayFor(model => model.names)</p>
                    <p class="font-light">@Html.DisplayFor(model => model.brand)</p>
                    @if (Model.promocode != null)
                    {
                        double a = Convert.ToDouble(Model.price.Value * (100 - Model.promocode.discount_price.Value) / 100);
                        <del class="text-xl tracking-tight text-gray-900 mt-3">$@Html.DisplayFor(model => model.price)</del>
                        <p class="text-3xl tracking-tight text-red-600 mt-3">$@a</p>
                    }
                    else
                    {
                        <p class="text-3xl tracking-tight text-red-600 mt-3">$@Html.DisplayFor(model => model.price)</p>
                    }

                    <!-- Reviews -->
                    <div class="mt-3">
                        <h3 class="sr-only">Reviews</h3>
                        <div class="flex items-center mb-1">
                            <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <h3 class="ml-2 font-semibold">@Session["avg"]</h3>
                            <h3 class="ml-4 text-blue-600">@Session["count"] reviews</h3>
                            <div class="text-gray-300 font-semibold ml-4">Available: @Html.DisplayFor(model => model.quantity)</div>
                        </div>
                    </div>

                    <form class="my-3">
                        <!-- Colors -->
                        <div>
                            <h3 class="font-medium text-gray-900">Color</h3>
                            <fieldset class="mt-2">
                                <div class="flex items-center space-x-3">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        @foreach (var item in ViewData["pro"] as List<WebApplication1.Models.product>)
                                        {
                                            <a href="/Home/Details_Pro/@item.id_product" class="p-2 mr-2 text-center text-black rounded-md hover:bg-gray-100 hover:italic border">@item.color</a>
                                        }
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="flex space-x-3 mb-2 mt-6 ">
                            @if (Model.quantity == 0)
                            {


                                <a href="#">
                                    <div style="text-decoration:none; color:black;text-align:center" class="p-3 rounded-md bg-blue-600 hover:bg-blue-700 text-light text-center font-medium" )">Out of Stock</div>
                                </a>


                                <a href="#">
                                    <div style="text-decoration:none; color:black;text-align:center" class="p-3 rounded-md bg-gray-100 hover:bg-gray-100 font-medium" )">OUt of Stock</div>
                                </a>
                            }
                            else
                            {
                                if (Session["email"] != null)
                                {

                                    <a href="/Shopping/BuyNow/@Html.DisplayFor(model => model.id_product)">
                                        <div style="text-decoration:none; color:black;text-align:center" class="p-3 rounded-md bg-blue-600 hover:bg-blue-700 text-light text-center font-medium" )">Buy</div>
                                    </a>
                                    <a href="/Shopping/AddToCart/@Html.DisplayFor(model => model.id_product)">
                                        <div style="text-decoration:none; color:black;text-align:center" class="p-3 rounded-md bg-gray-100 hover:bg-gray-100 font-medium" )">Add To Cart</div>
                                    </a>
                                }
                                else
                                {
                                    <a href="/ShoppingCart/BuyNow/@Html.DisplayFor(model => model.id_product)">
                                        <div style="text-decoration:none; color:black;text-align:center" class="p-3 rounded-md bg-blue-600 hover:bg-blue-700 text-light text-center font-medium" )">Buy</div>
                                    </a>
                                    <a href="/ShoppingCart/AddToCart/@Html.DisplayFor(model => model.id_product)">
                                        <div style="text-decoration:none; color:black;text-align:center" class="p-3 rounded-md bg-gray-100 hover:bg-gray-100 font-medium" )">Add To Cart</div>
                                    </a>
                                }
                            }


                        </div>
                    </form>
                </div>
                <div class="col-span-2 m-4">
                    <p class="text-3xl font-bold mb-4">Feedbacks</p>

                    <div class="rounded-md p-4 border ex3">

                        @foreach (var item in (ViewData["feedback"] as List<WebApplication1.Models.feedback>).OrderByDescending(x => x.id_feedback))
                        {
                            if (item.content != null || item.content == "")
                            {
                                <div class="border-b ">
                                    <div class="flex items-center mb-1">
                                        @if (item.user.names == null)
                                        {
                                            <div class="mr-4 font-medium text-lg">Anonymous</div>
                                        }
                                        else
                                        {
                                            <div class="mr-4 font-medium text-lg">@item.user.names</div>
                                        }


                                        @for (int i = 0; i < item.rate; i++)
                                        {
                                            <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                        }
                                    </div>
                                    <div class="mb-3 text-gray-500 dark:text-gray-400">
                                        <p>
                                            <time>@item.created_at</time>
                                        </p>
                                    </div>
                                    <p class="mb-2 font-medium text-dark text-base">
                                        @item.content
                                    </p>
                                </div>
                            }

                        }
                    </div>
                </div>

                <div class="col-span-2 m-4">

                    <div class="row">
                        <div class="flex items-center mb-3">

                            @for (int i = 0; i < (int)Session["avg2"]; i++)
                            {
                                <i class="fa-solid fa-star text-yellow-500"></i>
                            }
                            @if ((double)Session["avg"] > (int)Session["avg2"])
                            {
                                <i class="fa-solid fa-star-half text-yellow-500"></i>
                            }
                            <p class="ml-2 font-medium text-gray-900">@Session["avg"] out of 5</p>
                        </div>
                        <p class="font-medium text-gray-500">@Session["count"] Reviewers</p>
                        <div class="flex items-center mt-4">
                            <span class="font-medium text-blue-600 ">5 star</span>
                            <div class="w-2/3 h-5 mx-4 bg-gray-100 rounded ">
                                <div class="h-5 bg-yellow-300 rounded" style="width:@Session["5"]"></div>
                            </div>
                            <span class="font-medium text-blue-600 ">@Session["rate5"] </span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="font-medium text-blue-600 ">4 star</span>
                            <div class="w-2/3 h-5 mx-4 bg-gray-100 rounded ">
                                <div class="h-5 bg-yellow-300 rounded" style="width: @Session["4"]"></div>
                            </div>
                            <span class="font-medium text-blue-600 ">@Session["rate4"] </span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="font-medium text-blue-600 ">3 star</span>
                            <div class="w-2/3 h-5 mx-4 bg-gray-100 rounded ">
                                <div class="h-5 bg-yellow-300 rounded" style="width: @Session["3"]"></div>
                            </div>
                            <span class="font-medium text-blue-600 ">@Session["rate3"] </span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="font-medium text-blue-600 ">2 star</span>
                            <div class="w-2/3 h-5 mx-4 bg-gray-100 rounded ">
                                <div class="h-5 bg-yellow-300 rounded" style="width: @Session["2"]"></div>
                            </div>
                            <span class="font-medium text-blue-600 ">@Session["rate2"] </span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="font-medium text-blue-600 ">1 star</span>
                            <div class="w-2/3 h-5 mx-4 bg-gray-100 rounded ">
                                <div class="h-5 bg-yellow-300 rounded" style="width: @Session["1"]"></div>
                            </div>
                            <span class="font-medium text-blue-600 ">@Session["rate1"] </span>
                        </div>
                    </div>

                    <p class="text-3xl font-bold my-4">Write a review</p>
                    <div class="rounded-md m-2 p-4 border">
                        @using (Html.BeginForm("Feedbacks", "Home", FormMethod.Post, new { onsubmit = "retun VerifyRating()" }))
                        {

                            <div onmouseout="CReateSelected()">
                                <span id="span1" onmouseout="CRateOut(1)" onmouseover="CRateOut(1)" onclick="CReateClick(1)" class="fa-regular fa-star"></span>
                                <span id="span2" onmouseout="CRateOut(2)" onmouseover="CRateOut(2)" onclick="CReateClick(2)" class="fa-regular fa-star"></span>
                                <span id="span3" onmouseout="CRateOut(3)" onmouseover="CRateOut(3)" onclick="CReateClick(3)" class="fa-regular fa-star"></span>
                                <span id="span4" onmouseout="CRateOut(4)" onmouseover="CRateOut(4)" onclick="CReateClick(4)" class="fa-regular fa-star"></span>
                                <span id="span5" onmouseout="CRateOut(5)" onmouseover="CRateOut(5)" onclick="CReateClick(5)" class="fa-regular fa-star"></span>
                            </div><div>
                                <input type="hidden" name="rating" id="lblRating" value="0" />
                            </div>
                            <div class="row mt-4">
                                <div class="w-full">
                                    <form action="" class="w-full p-4">
                                        <div class="mb-2">
                                            <input type="hidden" value="@Html.DisplayFor(model => model.id_product)" name="id_pro" />
                                            <label for="comment" class="text-lg font-bold text-gray-600">Write your review</label>
                                            <input type="text" class="w-full p-2 my-3 border-b rounded focus:outline-none focus:ring-gray-300 focus:ring-1"
                                                   name="comment" placeholder="Enter your review">
                                        </div>
                                        <button class="w-full py-3 font-semibold text-white bg-blue-600 rounded-md">Review</button>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>

</main>




