﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<WebApplication1.Models.product>
<main>
    <div class="carousel">
        <div class="slides">

            <img src="~/wwwroot/Images/Slides/apple.png" alt="slide image" class="slide">
            <img src="~/wwwroot/Images/Slides/samsung.png" alt="slide image" class="slide">
            <img src="~/wwwroot/Images/Slides/oppo.png" alt="slide image" class="slide">
            <img src="~/wwwroot/Images/Slides/google.png" alt="slide image" class="slide">
        </div>
        <div class="controls w-full px-4 justify-between">
            <div class="control prev-slide"><i class="fa-solid fa-chevron-left"></i></div>
            <div class="control next-slide"><i class="fa-solid fa-chevron-right"></i></div>
        </div>
    </div>
    <script>
        const delay = 3000;

        const slides = document.querySelector(".slides");
        const slidesCount = slides.childElementCount;
        const maxLeft = (slidesCount - 1) * 100 * -1;

        let current = 0;

        function changeSlide(next = true) {
            if (next) {
                current += current > maxLeft ? -100 : current * -1;
            } else {
                current = current < 0 ? current + 100 : maxLeft;
            }

            slides.style.left = current + "%";
        }

        let autoChange = setInterval(changeSlide, delay);
        const restart = function () {
            clearInterval(autoChange);
            autoChange = setInterval(changeSlide, delay);
        };

        // Controls
        document.querySelector(".next-slide").addEventListener("click", function () {
            changeSlide();
            restart();
        });

        document.querySelector(".prev-slide").addEventListener("click", function () {
            changeSlide(false);
            restart();
        });

    </script>

    @*topfeatures*@
    <div class="text-center mt-1">
        <div class="text-uppercase font-bold mb-1" style="font-size: 124px">top features of this year</div>
        <div class="font-light w-full mx-auto text-lg flex justify-between px-5">
            <span class="w-25 text-sm text-start">
                Crafted in part with recycled glass and ocean-bound plastic,
                each phone comes in a recycled paper box. rafted in part with
                recycled glass, in a recycled paper box
                comes in a recycled paper box.
            </span>
            <span class="w-25 text-sm">
                EST 2023. Privacy
            </span>
            <span class="w-50 text-end">
                <a href="@Url.Action("SearchPage", "Home")" class="btn btn-outline-dark rounded-full text-xl px-5 py-2 font-light" style="width: fit-content;">
                    VIEW ALL
                </a>
            </span>
        </div>
    </div>

    @*new-product-list*@
    <div class="grid grid-cols-3 justify-between justify-center px-4 gap-3 my-4">
        @foreach (var item in Model)
        {
            if (item.id_product <= 72)
            {
                <div>
                    <div class="bg-gray-100 py-4 relative">
                        <img src="~/wwwroot/Images/Products/@item.images" class="mx-auto object-center relative" style="height: 400px" />
                        @if (item.promocode != null)
                        {
                            <div class="absolute end-0 top-4 bg-danger font-medium text-white px-4 py-2"
                                 style="border-radius: 50% 0 50% 0">
                                SALE
                            </div>
                        }
                    </div>

                    @*Name + Status*@
                    <div class="flex mt-4 mb-2 justify-between justify-center font-medium">
                        <div class="flex mr-4 align-items-center space-x-2">
                            <div class="h-3 w-3 rounded-full" style="background-color: @item.color"></div>
                            <span class="text-truncate text-xl">@item.names</span>
                            <div class="text-sm text-gray-400">12 sold</div> @*số lượt bán*@
                        </div>
                        @if (item.quantity == 0)
                        {
                            <span class="ml-4 text-gray-400">Sold</span> @*Sold hoặc Avail*@
                        }
                        else
                        {
                            <span class="ml-4 text-gray-400">Avail</span> @*Sold hoặc Avail*@
                        }

                    </div>

                    @*Price + Rating*@
                    <div class="flex justify-between align-items-center mb-2">
                        <div class="flex align-items-center">
                            @if (item.promocode == null)
                            {
                                <div class="text-gray-800 text-2xl mr-4">$ @item.price</div>

                            }
                            else
                            {
                                <div class="text-gray-800 text-2xl mr-4">$ @item.discount</div>
                                <div class="text-gray-800 text-md text-decoration-line-through">$ @item.price</div>
                            }

                        </div>
                        <div class="flex align-items-center">
                            @if (item.rate != 0)
                            {


                                for (int i = 0; i < (int)item.rate; i++)
                                {
                                    <i class="fa-solid fa-star text-yellow-500"></i>
                                }
                                if ((double)item.rate > (int)item.rate)
                                {
                                    <i class="fa-solid fa-star-half text-yellow-500"></i>
                                }

                                <span class="ml-4 font-medium">@item.rate</span>
                            }
                            else
                            {
                                <i class="fa-solid fa-star text-gray-200"></i>
                                <i class="fa-solid fa-star text-gray-200"></i>
                                <i class="fa-solid fa-star text-gray-200"></i>
                                <i class="fa-solid fa-star text-gray-200"></i>
                                <i class="fa-solid fa-star text-gray-200"></i>
                                <span class="ml-4 font-medium">0</span>
                            }
                        </div>
                    </div>

                    <div class="flex justify-between">
                        <div class="flex">
                            <div class="bg-gray-100 py-2 px-4 text-sm rounded-full mr-2">@item.brand</div>
                            <div class="bg-gray-100 py-2 px-4 text-sm rounded-full">@item.color</div>
                        </div>
                        <a href="/Home/Details_Pro/@item.id_product" class="bg-blue-600 py-2 px-4 text-white rounded-full">View</a>
                    </div>
                </div>
            }
        }
    </div>




    @*samsunng-iphone*@
    <div class="grid grid-cols-2 my-5">
        <img src="~/wwwroot/Images/Others/Group 51.png" class="object-cover w-full" href="@Url.Action("Search", "Home", new {id = 1})" />
        <img src="~/wwwroot/Images/Others/Group 52.png" class="object-cover w-full" href="@Url.Action("Search", "Home", new {id = 1})" />
    </div>

    <div class="mx-auto w-50 mt-6">
        <img src="~/wwwroot/Images/Others/Frame 32.png" class="object-cover object-center" />
    </div>

</main>