@model IEnumerable<WebApplication1.Models.product>
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";

}
@using (Html.BeginForm("SearchPage", "Home", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="Search" />
}
@if (Model.Count() == 0)
{
    <div>
        SORRY, WE CAN NOT FIND ANYTHING YOU NEED
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="flex justify-center text-md">
            <div class="block max-w-sm rounded-lg bg-white shadow-lg">
                <a href="#">
                    <img class="rounded-t-lg"
                         src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg"
                         alt="" />
                </a>
                <div class="p-3 font-medium">
                    <div class="flex flex-row justify-between pb-3 border-bottom">
                        <p>@Html.DisplayFor(modelItem => item.price)</p>
                        <div class="flex flex-row">
                            <p class="px-2">@Html.DisplayFor(modelItem => item.rate)</p>
                            <i class="fa-solid fa-star text-warning"></i>
                        </div>
                    </div>

                    <h5 class="mt-4 mb-3  leading-tight text-neutral-800 dark:text-neutral-50">
                        @Html.DisplayFor(modelItem => item.names)
                    </h5>
                    <p class="mb-4   text-neutral-500 font-light">
                        <div class="mb-2">@Html.DisplayFor(modelItem => item.color)</div>
                        <div class="mb-2">@Html.DisplayFor(modelItem => item.ram)</div>
                    </p>
                    <div class="flex flex-row justify-between align-items-center font-semibold">
                        <a class="py-2 px-3 py-2 px-3 rounded-2xl bg-blue-600 hover:bg-blue-800 cursor-pointer text-white text-xs">
                            Buy
                        </a>
                        <a href="" class="text-blue-600 font-light">Learn More 🡥</a>
                    </div>
                </div>
            </div>
        </div>
    }
}