@model IEnumerable<WebApplication1.Models.product>
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("SearchPage", "Home", FormMethod.Get))
{
    <div class="text-center my-lg-4 mx-auto justify-center">
        <div class="text-[48px] font-semibold">What are you searching for</div>
        <p>Surf for more</p>

        <div class="align-content-center align-self-center">
            <input type="text" class="font-light text-gray-400 bg-white border-b py-2" style="padding-right: 400px; padding-left:20px" value="" placeholder="Search" name="searching" />
            <input class="btn px-3 py-2 bg-gray-200 rounded-full mx-2 text-center font-semibold text-md ml-2" type="submit" value="Search" placeholder="Search">
        </div>
    </div>
}

<main class="p-4">
    <div class="grid grid-cols-4">
        <div class="col-span-1">
            <div class="space-y-8 space-x-4">
                @using (Html.BeginForm("SearchPage", "Home", FormMethod.Get))
                {
                    @*BRAND*@
                    <div class="mb-lg-4">
                        <div class="text-xl font-bold">BRANDS</div>
                        <div class="mt-2 space-y-2">
                            @foreach (var item in ViewBag.Brands)
                            {

                                <div class="mb-[0.125rem] mr-4 inline-block min-h-[1.5rem]">
                                    <input class="btn btn-outline-dark rounded-full"
                                           type="submit"
                                           value="@item"
                                           name="brand" />

                                </div>
                            }
                        </div>

                    </div>

                    @*COLORS*@
                    <div class="my-lg-4">
                        <div class="text-xl font-bold">COLORS</div>
                        <div class="mt-2 space-y-2">
                            @foreach (var item in ViewBag.Colors)
                            {

                                <div class="mb-[0.125rem] mr-4 inline-block min-h-[1.5rem]">
                                    <input class="btn btn-outline-dark rounded-full"
                                           type="submit"
                                           value="@item"
                                           name="color" />

                                </div>
                            }
                        </div>

                    </div>
                }
            </div>

        </div>


        @*product-list*@
        <div class="col-span-3">
            <div class="w-full flex justify-between align-content-between px-4">
                <p class="text-3xl font-bold">All Results</p>
                <a href="/Home/SearchPage" class="bg-blue-600 text-light hover:bg-blue-700 py-2 px-3 rounded-md">View all products</a>
            </div>

            @*product-mini-list*@
            <div class="grid grid-cols-3 gap-4 justify-content-between mx-auto mt-lg-5 px-4">

                @if (Model.Count() == 0)
                {
                    <div>
                        SORRY, WE CAN NOT FIND ANYTHING YOU NEED
                    </div>
                }
                else
                {
                    foreach (var item in Model)
                    {


                        <div class="flex justify-center text-md w-full">
                            <div class="block max-w-sm rounded-lg bg-white shadow-md w-full">
                                @*<a href="#!">*@
                                <img class="rounded-t-lg mx-auto object-center"
                                     style="height: 250px"
                                     src="~/wwwroot/Images/Products/@item.images"
                                     alt="" />
                                @*</a>*@
                                <div class="p-3 font-medium">
                                    <div class="flex flex-row justify-between pb-3 border-bottom align-items-center">
                                        <p class="text-2xl">$@Html.DisplayFor(modelItem => item.price)</p>
                                        <div class="bg-danger py-2 px-3 rounded-md text-white">
                                            0%
                                        </div>
                                    </div>

                                    <h5 class="mt-4 mb-3 flex leading-tight text-neutral-800 justify-between">
                                        <div class="text-xl">@Html.DisplayFor(modelItem => item.names)</div>
                                        <div class="flex flex-row">
                                            @for (int i = 0; i < (int)item.rate; i++)
                                            {
                                                <i class="fa-solid fa-star text-yellow-500"></i>
                                            }
                                            @if ((double)item.rate > (int)item.rate)
                                            {
                                                <i class="fa-solid fa-star-half text-yellow-500"></i>
                                            }
                                        </div>
                                    </h5>
                                    <div class="my-3 flex text-xs items-center justify-between">
                                        <div class="text-start">
                                            <span class="p-2 rounded-full" style="border: 2px solid #0026ff; color: #0026ff">@Html.DisplayFor(modelItem => item.brand)</span>
                                            <span class="p-2 rounded-full" style="border: 2px solid #ffd800; color: #ffd800 ">@Html.DisplayFor(modelItem => item.color)</span>
                                        </div>

                                        <div>
                                            <a href="/Home/Details_Pro/@item.id_product" class="py-2 px-3 text-sm bg-blue-600 text-white rounded-full">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</main>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
<script>
    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck");
        // Get the output text
        var text = document.getElementById("text");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
