@model IEnumerable<WebApplication1.Models.product>
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("SearchPage", "Home", FormMethod.Get))
{
    <div class="text-center my-lg-4 mx-auto justify-center">
        <div class="text-[48px] font-semibold">What are you searching for</div>
        <p>Surf for more</p>

        <div class="align-content-center align-self-center">
            <input type="text" class="font-light text-gray-400 bg-white border-b py-2" style="padding-right: 400px; padding-left:20px" value="" placeholder="Search" name="searching" />
            <input class="btn px-3 py-2 bg-gray-200 rounded-full mx-2 text-center font-semibold text-md ml-2" type="submit" value="Search" placeholder="Search">
        </div>
    </div>
}

<main class="p-4">
    <div class="grid grid-cols-4">
        <div class="col-span-1">
            <div class="space-y-8 space-x-4">
                @using (Html.BeginForm("SearchPage", "Home", FormMethod.Get))
                {
                    @*BRAND*@
                    <div class="mb-lg-4">
                        <div class="text-xl font-bold">BRANDS</div>
                        <div class="mt-2 space-y-2">
                            @foreach (var item in ViewBag.Brands)
                            {

                                <div class="mb-[0.125rem] mr-4 inline-block min-h-[1.5rem]">
                                    <input class="btn btn-outline-dark rounded-full"
                                           type="submit"
                                           value="@item"
                                           name="brand" />

                                </div>
                            }
                        </div>

                    </div>

                    @*COLORS*@
                    <div class="my-lg-4">
                        <div class="text-xl font-bold">COLORS</div>
                        <div class="mt-2 space-y-2">
                            @foreach (var item in ViewBag.Colors)
                            {

                                <div class="mb-[0.125rem] mr-4 inline-block min-h-[1.5rem]">
                                    <input class="btn btn-outline-dark rounded-full"
                                           type="submit"
                                           value="@item"
                                           name="color" />

                                </div>
                            }
                        </div>

                    </div>
                }
            </div>

        </div>


        @*product-list*@
        <div class="col-span-3">
            <div class="w-full flex justify-between align-content-between px-4">
                <p class="text-3xl font-bold">All Results</p>
                <a href="/Home/SearchPage" class="bg-blue-600 text-light hover:bg-blue-700 py-2 px-3 rounded-md">View all products</a>
            </div>

            @*product-mini-list*@
        <div class="grid grid-cols-3 gap-4 justify-content-between mx-auto mt-lg-5 px-4">

            @if (Model.Count() == 0)
            {
                <div>
                    SORRY, WE CAN NOT FIND ANYTHING YOU NEED
                </div>
            }
            else
            {
                foreach (var item in Model)
                {


                    <div>
                        <div class="bg-gray-100 py-4 relative">
                            <img src="~/wwwroot/Images/Products/@item.images" class="mx-auto object-center relative" style="height: 300px" />
                            @if (item.promocode != null)
                            {
                                <div class="absolute end-0 top-4 bg-danger font-medium text-white px-4 py-2"
                                     style="border-radius: 50% 0 50% 0">
                                    SALE
                                </div>
                            }
                        </div>

                        @*Name + Status*@
                        <div class="flex mt-4 mb-2 justify-between justify-center font-medium">
                            <div class="flex mr-4 align-items-center space-x-2">
                                <div class="h-3 w-3 rounded-full" style="background-color: @item.color"></div>
                                <span class="text-truncate text-xl">@item.names</span>
                                <div class="text-sm text-gray-400">12 sold</div> @*số lượt bán*@
                            </div>
                            @if (item.quantity == 0)
                            {
                                <span class="ml-4 text-gray-400">Sold</span> @*Sold hoặc Avail*@
                            }
                            else
                            {
                                <span class="ml-4 text-gray-400">Avail</span> @*Sold hoặc Avail*@
                            }

                        </div>

                        @*Price + Rating*@
                        <div class="flex justify-between align-items-center mb-2">
                            <div class="flex align-items-center">
                                @if (item.promocode == null)
                                {
                                    <div class="text-gray-800 text-2xl mr-4">$ @item.price</div>

                                }
                                else
                                {
                                    <div class="text-gray-800 text-2xl mr-4">$ @item.discount</div>
                                    <div class="text-gray-800 text-md text-decoration-line-through">$ @item.price</div>
                                }

                            </div>
                            <div class="flex align-items-center">
                                @if (item.rate != 0)
                                {


                                    for (int i = 0; i < (int)item.rate; i++)
                                    {
                                        <i class="fa-solid fa-star text-yellow-500"></i>
                                    }
                                    if ((double)item.rate > (int)item.rate)
                                    {
                                        <i class="fa-solid fa-star-half text-yellow-500"></i>
                                    }

                                    <span class="ml-4 font-medium">@item.rate</span>
                                }
                                else
                                {
                                    <i class="fa-solid fa-star text-gray-200"></i>
                                    <i class="fa-solid fa-star text-gray-200"></i>
                                    <i class="fa-solid fa-star text-gray-200"></i>
                                    <i class="fa-solid fa-star text-gray-200"></i>
                                    <i class="fa-solid fa-star text-gray-200"></i>
                                    <span class="ml-4 font-medium">0</span>
                                }
                            </div>
                        </div>

                        <div class="flex justify-between">
                            <div class="flex">
                                <div class="bg-gray-100 py-2 px-4 text-sm rounded-full mr-2">@item.brand</div>
                                <div class="bg-gray-100 py-2 px-4 text-sm rounded-full">@item.color</div>
                            </div>
                            <a href="/Home/Details_Pro/@item.id_product" class="bg-blue-600 py-2 px-4 text-white rounded-full">View</a>
                        </div>
                    </div>

                }
            }
        </div>
        </div>
    </div>
</main>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
<script>
    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck");
        // Get the output text
        var text = document.getElementById("text");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
