@model IEnumerable<WebApplication1.Models.order>
@{
    ViewBag.Title = "YourOrders";
}

@Html.Partial("_Notifications")
<div>Email: @(((WebApplication1.Models.customer)Session["Customer"]).email)</div>
<div>Address: @(((WebApplication1.Models.customer)Session["Customer"]).addresss) @(((WebApplication1.Models.customer)Session["Customer"]).ward) @(((WebApplication1.Models.customer)Session["Customer"]).district) @(((WebApplication1.Models.customer)Session["Customer"]).city) </div>
<div>Phone: @(((WebApplication1.Models.customer)Session["Customer"]).phone)</div>
<table class="table">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Ngày vận chuyển
        </th>
        <th>
            Tình trạng xử lý
        </th>
        <th>
            Huỷ đơn hàng
        </th>

        <th>
            Tổng đơn hàng
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.id_order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.started_at)
            </td>

            <td>
                @Html.HiddenFor(modelItem => item.pending)
                @if (item.pending == false && item.canceled == false)
                {
                    <div>Your order is Pending</div>
                }
                else if (item.pending == true && item.canceled == false)
                {
                    <div>Your order has been processed</div>
                }
                else
                {
                    <div>Your order has been Canceled</div>
                }
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.canceled)
                @if (item.canceled == true)
                {
                    <div>Your order has been canceled</div>
                }
            </td>

            <td>
                $@Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                @if (item.canceled == false)
                {
                    <a href="/Home/Request_Cancel/@Html.DisplayFor(modelItem => item.id_order)">Cancel</a>
                }
                @Html.ActionLink("Details", "Details", new { id = item.id_order })
            </td>
        </tr>

    }
</table>
<a href="@Url.Action("Index", "Home")" class="px-6 text-white rounded-md bg-blue-600 hover:bg-blue-800 py-2 mx-auto font-medium text-sm">Countious Shopping</a>