@model IEnumerable<WebApplication1.Models.order>
@{
    ViewBag.Title = "YourOrders";
}
@Html.Partial("_Notifications")
@*<div>Email: @(((WebApplication1.Models.customer)Session["Customer"]).email)</div>
    <div>Address: @(((WebApplication1.Models.customer)Session["Customer"]).addresss) @(((WebApplication1.Models.customer)Session["Customer"]).ward) @(((WebApplication1.Models.customer)Session["Customer"]).district) @(((WebApplication1.Models.customer)Session["Customer"]).city) </div>
    <div>Phone: @(((WebApplication1.Models.customer)Session["Customer"]).phone)</div>*@
<div class="text-sm" style="padding: 3em 10em">
    <div class="flex justify-between">
        <div>
            <div class="mb-2 text-3xl font-bold">Order Details</div>
            <div class="mb-4 text-xs font-light text-gray-500">Check the status of recent and old orders &amp; discover more products</div>
        </div>
        <div>
            <a href="/Home/SearchPage" class="btn btn-outline-dark px-3 py-2 rounded-md text-sm text-decoration-none">Continuous Shopping</a>
        </div>
    </div>

    @foreach (var item in Model.Reverse())
    {
        <div class="mb-5 w-full grid grid-cols-3 rounded-md" style="border: 0.5px solid #dcdcdc">
            <div class="col-span-1 p-4" style="border-right: 0.5px solid #dcdcdc">
                <div class="grid space-y-3">
                    <div class="grid">
                        <div class="text-gray-500">Order ID</div>
                        <div class="font-semibold text-black">
                            # @item.id_order
                        </div>
                    </div>
                    <div class="grid">
                        <div class="text-gray-500">Date</div>
                        <div class="font-semibold text-black">
                            @item.created_at
                        </div>
                    </div>
                    <div class="grid">
                        <div class="text-gray-500">Email</div>
                        <div class="font-semibold text-black">
                            @item.customer.email
                        </div>
                    </div>
                    <div class="grid">
                        <div class="text-gray-500">Address</div>
                        <div class="font-semibold text-black">
                            @item.customer.addresss @item.customer.ward @item.customer.district @item.customer.city
                        </div>
                    </div>
                    <div class="grid">
                        <div class="text-gray-500">Phone</div>
                        <div class="font-semibold text-black">
                            @item.customer.phone
                        </div>
                    </div>
                    <div class="grid">
                        <div class="text-gray-500">Order Status</div>
                        <div class="font-semibold text-black">
                            <div class="w-5 h-5 rounded-circle" style="color: #00ca1a"></div>
                            @item.pending
                        </div>
                    </div>
                    <div class="grid">
                        <div class="text-gray-500">Request Cancel</div>
                        <div class="font-semibold text-black">
                            <div class="w-5 h-5 rounded-circle" style="color: #00ca1a"></div>
                            @item.request_cancel
                        </div>
                    </div>
                    <div class="grid">
                        <div class="text-gray-500">Canceled</div>
                        <div class="font-semibold text-black">
                            <div class="w-5 h-5 rounded-circle" style="color: #00ca1a"></div>
                            @item.canceled
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-2 p-4">
                <div class="mb-4 pb-4" style="border-bottom: 0.5px solid #dcdcdc">
                    @foreach (var items in item.order_item)
                    {
                        <div class="grid grid-cols-4 mb-2">
                            <img src="/wwwroot/Images/Products/@items.product.images" class="object-cover col-span-1">
                            <div class="justify-between col-span-2">
                                <div class="font-medium text-lg">
                                    <div>@items.product.names</div>
                                </div>
                                <div class="text-gray-500">@items.product.color</div>
                                <div class="text-gray-500">@items.product.quantity</div>
                                <a href="@Url.Action("Details_Pro", "Home", new {id = @items.product.id_product})" class="text-gray-300">View More</a>
                            </div>
                            @if (items.product.id_promo != null)
                            {
                                <div class="col-span-1 text-end font-medium text-lg">
                                    <div>$@items.product.discount</div>
                                </div>
                            }
                            else
                            {
                                <div class="col-span-1 text-end font-medium text-lg">
                                    <div>$@items.product.price</div>
                                </div>
                            }

                        </div>
                    }
                </div>
                <div class="flex justify-between">
                    @if (item.request_cancel == false && item.pending == false)
                    {
                        <div class="flex space-x-3">
                            <a class="btn btn-outline-danger px-3 py-2 rounded-md text-sm" href="/Home/Request_Cancel/@item.id_order">Cancel Order</a>
                        </div>
                    }
                    else
                    {
                        if (item.canceled == false)
                        {
                            <div class="flex space-x-3">
                                <input class="btn btn-outline-danger px-3 py-2 rounded-md text-sm" disabled="disabled" value="Cancel Order" />
                            </div>
                        }
                        else
                        {
                            <div class="flex space-x-3">
                                <input class="btn btn-outline-secondary px-3 py-2 rounded-md text-sm" disabled="disabled" value="Order is Canceled" />
                            </div>
                        }

                    }

                    <div class="font-medium text-lg items-center">
                        $@item.total_price.00
                    </div>
                </div>
            </div>
        </div>
    }
</div>