@model IEnumerable<WebApplication1.Models.order_item>

@{
    ViewBag.Title = "Index";
      Layout = "../../Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feedback.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.id_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.names)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feedback.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.id_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.names)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_order_item }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_order_item }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_order_item })
        </td>
    </tr>
}

</table>
