@model WebApplication1.Models.user

@{
    ViewBag.Title = "Details";
    Layout = "../../Views/Shared/_AdminLayout.cshtml";
}


<div class="w-75 rounded-md grid grid-cols-3 border mx-auto my-5 p-5 h-screen">
    <h1 class="col-span-3 ml-4">Details</h1>
    <div style="width: 200px">
        @if (Html.DisplayFor(x=>x.avatar).ToString() == "")
        {
            <img src="https://freesvg.org/img/abstract-user-flat-4.png" class="object-center object-cover">
        }
        else
        {
            <img src="~/wwwroot/Images/Avatars/@Html.DisplayFor(x=>x.avatar)" class="object-center object-cover" />
        }
    </div>
    <div class="grid grid-cols-2 col-span-2 gap-y-3">
        <div class="form-group">
            <div class="font-bold">Name</div>
            <div class="col-span-1">
                @Html.DisplayFor(x => x.names)
            </div>
        </div>
        <div class="form-group">
            <div class="font-bold">Email</div>
            <div class="col-span-1">
                @Html.DisplayFor(x => x.email)
            </div>
        </div>
        <div class="form-group">
            <div class="font-bold">Rank</div>
            <div class="col-span-1">
                @Html.DisplayFor(x => x.rank.name_rank)
            </div>
        </div>
        <div class="form-group">
            <div class="font-bold">Phone</div>
            <div class="col-span-1">
                @Html.DisplayFor(x => x.phone)
            </div>
        </div>
        <div class="form-group">
            <div class="font-bold">Role</div>
            <div class="col-span-1">
                @Html.DisplayFor(x => x.is_admin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-span-1">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_user)
            </div>
        </div>
    </div>
    <div class="col-span-3 flex space-x-2 justify-content-end justify-between">
        <a href="@Url.Action("Index", "users")" class="btn text-black cursor-pointer bg-yellow-300 font-medium py-2 px-4 rounded-md" style="height: fit-content">Back</a>
    </div>
</div>
